{% extends 'base2.html' %} {% load static %} {% block content %}
{% if user.is_librarian %}
<div class="col-sm-10">
  <h3 class="text-white my-5">Add Category {{request.user.username}}</h3>
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group">{{form.as_p}}</div>

      <button type="submit" class="btn btn-primary" id="btn">Send</button>
    </div>
  </form>
</div>
{% else %}
<center><h1>You are not authorized to view this page!!!</h1></center>
{% endif %}

{% endblock content %}
