<title>Login</title>

{% extends 'base1.html' %} {% load static %} {% block content %}

<script type="text/javascript">
  
  function seterror(id, error) {
      element = document.getElementById(id);
      element.getElementsByClassName('formerror')[0].innerHTML = error;
  
  }
  function validate() {
      var returnval = true;
      var id_username = document.forms['login']['username'].value;
      var regName = /^[a-zA-Z\-]+$/;
      if (id_username == "" || !regName.test(id_username)) {
          alert("Please enter your name properly.");
          returnval = false;
      }
      var id_password = document.forms['login']['password'].value;
      if (id_password.length <8) {
        
        alert("enter valid email");
    
        returnval = false;
      }
      
      return returnval;
  
  }
  
  </script>
  

<div class="container" style="background-color: rgb(180, 171, 171)">
  <br />
  <center><h1>Login Form</h1></center>
  <form method="POST" style="font-size: 20px" name="login">
    {% csrf_token %}
    <center>
      <br />
      <div>user name : {{ form.username }}
        <span class="formerror"></span>
      </div>
      <br />

      <div>password : {{form.password}}
        <span class="formerror"></span>
      </div>
      <br />

      <button
        class="btn btn-success"
        style="background-color: green; color: white; margin: 20px"
        onclick="return validate()"
      >
        Login
      </button>
      <br />
      <div>
        <h3>Not a member???</h3>
      </div>
      <br />
      <div>
        <a href="http://127.0.0.1:8000/Usersignup" class="btn btn-secondary"
          >Signup now</a
        >
      </div>
      <br />
    </center>
  </form>
</div>
{% endblock content %}


